{{ 'product-size-chart.js' | asset_url | script_tag }}

<div class="remodal" data-remodal-id="sizechart">
  <button data-remodal-action="close" class="remodal-close"></button>
  <p class="sizechart--content">
  </p>
</div>      
